* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
}

html {
  scroll-behavior: smooth;
}

.special-heading {
  color: #d1faf8;
  font-size: 120px;
  font-weight: 800;
  text-align: center;
  letter-spacing: -3px;
  margin: 0;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 80px;
  }

  .special-heading+p {
    margin: -20px 0 0;
  }
}

.special-heading+p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: var(--secondary-color);
}

body {
  font-family: 'Work Sans', sans-serif;
}

.parent {
  background-color: #ffffff;
}

.container {
  padding: 20px;
  margin: 0 auto;

}

@media (min-width: 600px) {
  .container {
    width: 580px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  padding: 20px;
  background-color: #ffffff;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header .logo {
  display: flex;
  width: 60px;
}

.header .links {
  position: relative;
  width: 30px;
}

.header .container .links .fa-bars::before {
  display: flex;
  font-size: 32px;
}

.header .container .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);

  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;

}

.header .links ul li:not(:last-child) {

  border-bottom: 1px solid var(--main-color);

}

.header .links ul::before {
  content: "";
  border-width: 15px;
  border-style: solid;
  border-color: var(--main-color);
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -30px;
  right: 0px;

}

.header .links:hover ul {
  display: block;

}

.header .links ul li a {
  display: block;
  padding: 10px;
  color: #ffffff;
  transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  -ms-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  text-decoration: none;
}

.header .links ul li a:hover {
  padding-left: 25px;
}

.landing {
  background-image: url(../img/686998.webp);
  background-size: cover;
  height: calc(100vh - 113px);

}



.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}

.landing .intro-text h1 {
  color: var(--main-color, green);
  margin: 0;
  position: relative;
  font-size: 50px;
  font-weight: bold;
}

.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features .feat {
  padding: 20px;
  text-align: center;
}

.features .feat i {
  color: var(--main-color);
}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}

.features .feat p {
  line-height: 1.6;
  color: #333;
  font-size: 18px;
}

.services {
  padding-top: 60px;
  padding-bottom: 60px;
}

.services .service-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

.services .service-content .srv {
  display: flex;
  margin-bottom: 40px;

}

@media (max-width: 767px) {
  .services .service-content .srv {
    flex-direction: column;
    text-align: center;
  }
}

.services .service-content .image img {
  max-width: 90%;
}

.services .service-content .image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.services .service-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: 250px;
  position: absolute;
  top: -20px;
  right: -10px;
  z-index: -1;
}

.services .service-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}

.services .service-content .srv .text {
  flex: 1;
}

.services .service-content .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .service-content .srv .text h3 {
  margin: 0 0 20px;
}

.services .service-content .srv .text p {
  font-weight: 300;
  color: #333;
}

.portfolio {
  padding: 60px 0 60px;
  background-color: #f6f6f6;
}

.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

.portfolio .portfolio-content .card {
  background-color: #ffffff;
}

.portfolio .portfolio-content .card img {
  max-width: 100%;
  height: 400px;
}

.portfolio .portfolio-content .card .info {
  padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}

.portfolio .portfolio-content .card .info p {
  color: #333;
  line-height: 1.6;
  margin-bottom: 0;
}

.about {
  padding: 60px 0 60px;
}

.about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width:991px) {
  .about-content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }

  .about .about-content .image {
    align-self: center;
  }
}

.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;

}

.about .about-content .image img {
  width: 250px;
  height: 300px;

}

.about .about-content .image::before {
  content: "";
  position: absolute;
  top: -60px;
  left: -20px;
  background-color: #dedcdc;
  width: 100px;
  height: calc(100% + 50px);
  z-index: -1;
}

.about .about-content .image::after {
  content: "";
  width: 120px;
  height: 300px;
  border-left: 110px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  position: absolute;
  top: -30px;
  right: -170px;
}

.about .about-content .text {
  flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 40px;
}

.about .about-content .text hr {
  width: 50%;
  border-color: var(--main-color);
  display: inline-block;
}

.about .about-content .text p:last-of-type {
  line-height: 1.6;
  color: #333;
}

.contact {
  padding: 60px 0 60px;
  background-color: #f6f6f6;
}

.contact .contact-content {
  padding: 60px 0 60px;
  text-align: center;
}

.contact .contact-content .label {
  font-size: 60px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -3px;
  margin-bottom: 30px;
}

@media (max-width:767px) {
  .contact .contact-content .label {
    font-size: 35px;
    text-align: center;
  }

  .contact .contact-content .mail {
    font-size: 16px;


  }

  .contact .contact-content .social {
    max-width: 100%;
  }
}

.contact .contact-content .mail {
  font-size: 30px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
  text-align: center;
  margin: 30px auto;
  display: block;
}

.contact .contact-content .social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  margin: 30px auto 30px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.contact .contact-content .social i {
  color: var(--secondary-color);
}

.footer {
  height: 30px;
  background-color: var(--secondary-color);
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  color: var(--main-color);
  font-weight: bold;
}